$input-color: #cacaca;
$input-background-color: #e4e4e4;
$input-placeholder-color: #797979b6;
$input-border-color: rgb(133, 133, 133);
$input-height: 50px;
$active-color: rgb(224, 130, 21);
$error-color: rgb(224, 45, 21);

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.error-message {
  color: $error-color;
  font-size: 14px;
  position: absolute;
  top: 100%;
  white-space: nowrap;
  width: 100%;
  overflow-x: hidden;
}

.password-eye {
  height: 100%;
  position: absolute;
  right: 16px;
  display: flex;
  align-items: center;
  font-size: 20px;

  button {
    width: 30px;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    text-transform: none;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    background-image: none;

    svg {
      width: 95% !important;
    }

    &:focus {
      outline: none;
      color: #f5c7a1;
    }
  }
}

.floating-label-input {
  width: 100%;
  color: $input-color;
  border-radius: 5px;
  border: 2px solid black;
  border-color: $input-border-color;
  font-family: monospace;
  transition: transform ease-out 0.1s, border-color ease-out 0.1s;

  &.border-bottom {
    border-width: 0 0 2px 0;
  }

  * {
    font-family: inherit;
  }

  label {
    border-radius: inherit;
    display: flex;
    position: relative;
    height: $input-height;

    input {
      color: $input-color;
      border-radius: inherit;
      background-color: transparent;
      width: 100%;
      outline: none;
      appearance: none;
      border-color: transparent;
      outline: none;
      padding: 0.3rem 0.75rem 0.3rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5rem;
      transition: transform ease-out 0.1s;

      &:focus {
        outline: none;
      }
    }

    .input-placeholder {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
      color: $input-placeholder-color;
      font-size: 16px;
      font-weight: 500;
      user-select: none;
      overflow: hidden;
      pointer-events: none;
      transform-origin: left;
      transition: transform ease-out 0.1s, top ease-out 0.1s,
      color ease-out 0.1s;
    }
  }

  &.active {
    transform: scaleY(1.01);
    border-color: $active-color;

    .input-placeholder {
      transform: scale(0.81) translateY(-($input-height + 4)/2);
      color: $active-color;
    }

    input {
      padding-top: 18px;
    }
  }

  &.error {
    .input-placeholder {
      color: $error-color;
    }
  }

  &.disabled {
    transform: scale(1);
    border-color: $input-border-color;

    .input-placeholder {
      color: $input-placeholder-color;
    }
  }
}

.floating-label-input input:-webkit-autofill,
.floating-label-input input:-webkit-autofill:hover,
.floating-label-input input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(204, 204, 204);
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
  transition: background-color 90000s ease-in-out 0s;
}
