.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .submit-btn {
    background-color: rgb(235, 133, 0) !important;
    width: 60%;
    max-width: 150px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: black;

    &:active {
      transform: translateY(2px);
    }

    &:hover {
      background-color: rgb(194, 113, 6) !important;
    }

    &:focus {
      outline: none;
    }
  }
}

.login {
  max-width: 32rem;
  height: 100%;
  margin: 0 auto;

  &__wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__logo {
    width: 100%;
    margin: 50px 0;
    text-align: center;

    img {
      max-width: 30%;
      margin: 0 auto;
      filter: hue-rotate(263deg);
    }
  }
}
