.login {
  max-width: 32rem;
  height: 100%;
  margin: 0 auto;

  &__wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .login__logo {
      width: 100%;
      margin: 50px 0;
      text-align: center;

      img {
        max-width: 30%;
        margin: 0 auto;
        filter: hue-rotate(263deg);
      }
    }

    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      gap: 25px;
    }
  }
}
