$input-color: #cacaca;
$input-background-color: #e4e4e4;
$input-placeholder-color: #797979b6;
$input-border-color: rgb(133, 133, 133);
$input-height: 50px;
$active-color: rgb(224, 130, 21);
$error-color: rgb(224, 45, 21);


.ChangePassword {
  max-width: 32rem;

  @apply h-full w-full p-1 flex flex-col align-middle mx-auto;

  &__wrapper {
    @apply p-4;
  }
}


