.button {
  background-color: rgb(235, 133, 0);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: rgb(46, 46, 46);
  transition: background-color 0.2s ease-out;
  user-select: none;

  &__text {
    text-transform: uppercase;
  }

  &:active {
    transform: translateY(2px);
  }

  &:hover {
    background-color: rgb(194, 113, 6);
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: default;
    background-color: rgb(168, 168, 168);
  }
}
