.playlists-container-profile{
    display: flex;
    justify-content: center;
    .profile-playlists{
        width: 1400px;
        padding: 20px;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
}