.Singers {
  text-align: center;
}

.Singer-Card{
  width: 40vw;
  display: flex;
  flex-direction: column;

}

.Singers-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.Singers-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.characters {
  list-style: none;
  padding-left: 0;
}

.characters div {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: .2em;
  margin-bottom: .5em;
}


p.artist-name {
  max-width: none;
  font-weight: bold;
  text-align: center;
  margin: 0 2em;
  font-size: 30px;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
  width: 100%;
  
}

.artist-name:hover {
  transition: all 1000ms ease-in-out;
  transform: scale(1.1);
  text-transform: uppercase;
  right: 0;
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 5em;
  height: 5em;
  background-color: #e8e8e8;
  padding: 0;
  margin: .5em .2em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
}