@import "../../styles/variables.scss";

.track-card {
  display: flex;
  height: 5em;
  .img {
    border-radius: 0.2em;
    height: 100%;
    img{
      height: 100%;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      width: 5em;
    }
  }
  margin: 0.5em;
  background-color: $navBg;
  border-radius: 1em;
  align-items: center;
  .track-content{
    display:flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
    button{
      cursor: pointer;
      outline: none;
      background: transparent;
      color: white;
      font-size: 20px;
    }
  }
  .track-details {
    padding-left: 1em;
  }
}
