@import "../../styles/variables.scss";

.track-card {
  display: flex;
  img {
    width: 5em;
    border-radius: 0.2em;
    height: 100%;
    margin-left: 0.2em;
  }
  margin: 0.5em;
  background-color: $navBg;
  border: $border;
  border-radius: 0.2em;
  align-items: center;

  .track-details {
    padding-left: 1em;
  }
}
