@import "../../styles/variables.scss";

.track-card {
  display: flex;
  overflow: hidden;
  height: 5em;

  .track-image {
    position: relative;
    width: 80px;
    height: inherit;
    background-color: transparent;
    
    img{
      height: 100%;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      width: 5em;
    }
  }
  background-color: $navBg;
  border-radius: 1em;
  align-items: center;
  .track-content{
    display:flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
    button{
      cursor: pointer;
      outline: none;
      background: transparent;
      color: white;
      font-size: 20px;
    }
  }
  .track-details {
    padding-left: 1em;
    max-width: 60%;
  }
}

.track-options-modal{
  position: absolute;
  bottom: 0;
  left:0;
  height: 85vh;
  width: 100vw;
  background-color: $navBg;
  opacity: 95%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  img{
    opacity: 100%;
    width: 50vw;
    border-radius: 20px;
  }
}

.track-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #222222;
}