.form_editProfile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 15em;
    margin: 1em auto;
}

.input-container{
    margin: 0.75em 0;
}
.button{
    margin: 1.5em 0;
}