.playlist-card {
  width: 220px;
  height: 220px;

  .frontface {
    border-radius: 5px;
    width: 220px;
    height: 220px;
  }

  .backface {
    font-size: 13px;
    padding: 15px;
    padding-left: 0;
    border-radius: 5px;
    color: rgb(32, 32, 32);
    background-color: white;
    width: 220px;
    height: 220px;
    overflow: hidden;
    text-align: center;

    .playlist-tracks {
      overflow-y: auto;
      overflow-x: hidden;
      height: 60%;

      li {
        width: 100%;
      }
    }

    .playlist-page-button {
      display: flex;
      justify-content: center;

      a {
        color: black;
        text-decoration: none;
      }
    }
  }

  .flippable {
    transition: transform 0.3s;
  }

  .playlist-info {
    color: #bebebe;
    margin-top: 2px;
    transition: margin-top 0.3s;
  }

  &:hover {
    .flippable {
      transform: scale(1.049);
    }

    .playlist-info {
      margin-top: 8px;
    }
  }
}
