.tab-button {
  background-color: transparent;
  border: 1px solid rgb(73, 73, 73);
  border-width: 0 0 2px 0;
  transition: border-color 0.2s ease-out;

  button {
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    color: grey;

    &:focus {
      outline: none;
      color: white;
    }
  }

  &.active {
    border-color: rgba(255, 166, 0, 0.521);

    button {
      color: white;
      font-weight: 600;
    }
  }
}
