.playlist-page {
  min-height: calc(100vh - 96px);
  min-width: 100vw;
  padding: 58px;
  background-color: #383c45;
  .share-popUp, #popup-root {
    position: sticky;
    background-color: #383c45;
    color:#ff8933;
  }

  div {
    position: sticky;
    background-color: #383c45;
    color:#ff8933;
  }

  hr {
    width: 100%;
    outline-color: #ff8933;
  }

  .summary {
    display: flex;
    gap: 40px;
    width: max-content;

    .image {
      border-radius: 5px;
    }

    .details {
      align-self: flex-end;

      .type {
        font-family: Jockey One;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        color: #ff8933;
        margin: 0;
      }

      .title {
        font-family: Jockey One;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;
      }

      .actions {
        margin: 10px 0;
        display: flex;
        align-items: center;
        align-content: space-around;

        .options-button,
        .trash-button,
        .send-button {
          background-color: rgba(255, 255, 255, 0.15);
          color: white;
          border-radius: 50%;
          font-size: 20px;
          font-weight: 600;
          width: 2em;
          height: 2em;
          display: flex;
          align-items: center;
          align-content: center;
          text-align: center;
          justify-content: center;
          margin: 0 0.2em;
          cursor: pointer;
        }

        .play-button {
          background-color: rgba(255, 255, 255, 0.15);
          display: flex;
          width: fit-content;
          color: white;
          border-radius: 30%;
          font-size: 20px;
          font-weight: 600;
          margin-right: 0.4em;

          .play-text {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .tracks {
    margin: 50px 10px;
    display: flex;
    flex-direction: column;

    .track {
      cursor: pointer;
      height: 80px;
      width: 100%;
      display: flex;
      border-bottom: 0.5px solid #8f8f8f;
      margin: 1em 0;

      .image {
        height: 100%;
        margin: 0 32px;
        justify-self: flex-start;
      }

      .details {
        margin-right: auto;
        align-self: flex-end;
        margin-bottom: 12px;

        .title {
          font-weight: bold;
        }

        .artist {
          margin-top: 10px;
          color: #8f8f8f;
        }
      }

      .owner {
        margin-left: auto;
        margin-right: auto;
        align-self: flex-end;
        margin-bottom: 12px;
        color: #8f8f8f;
      }

      .duration {
        margin-left: auto;
        margin-right: auto;
        align-self: flex-end;
        margin-bottom: 12px;
        color: #8f8f8f;
      }

      .actions {
        display: flex;
        gap: 8px;
        margin-right: 15px;
        justify-self: flex-end;
        align-self: flex-end;
        margin-bottom: 12px;
        color: #8f8f8f;
      }
    }
  }
}
