@import "../../styles/variables.scss";

.main-navbar {
  .navbar {
    background-color: $navBg;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  .dropdown-icon-container {
    padding: 0 20px 0 0;
    button {
      cursor: pointer;
      background: transparent;
      &:focus,
      &:active {
        border: none;
        outline: none;
      }
    }
  }

  .dropdown-icon {
    font-size: 26px;
    color: white;
  }

  .dropdown {
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(-90%);
    background-color: $navBg;
    border: $border;
    border-radius: $border-radius;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-item {
      background-color: none;
      color: white;
      text-decoration: none;
      font-size: 20px;
      height: 50px;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      border-radius: $border-radius;
      transition: background $speed;
      padding: 0.5rem;

      .icon-button {
        color: white;
        margin-right: 20px;
        font-size: 25px;
      }
    }

    .menu-item:hover {
      background-color: #525357;
    }
  }

  .menu-bars {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    background: none;
    color: white;
  }

  .nav-menu {
    background-color: $navBg;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    transition: 850ms;
  }

  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

  .navText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 0px;

    a {
      text-decoration: none;
      color: #f5f5f5;
      font-size: 30px;
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 15px 10px;
      border-radius: 4px;
    }

    a:hover {
      background-color: $bg-accent;
    }
  }

  .nav-menu-items {
    width: 100%;
  }

  .navbar-toggle {
    background-color: $navBg;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  span {
    margin-left: 16px;
  }
}
