@import "../../styles/variables.scss";

.track-card {
  display: flex;
  justify-content: space-around;
  height: 5em;

  .track-image {
    position: relative;
    width: 80px;
    height: inherit;
    background-color: transparent;

    img {
      height: 100%;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      width: 5em;
    }
  }

  background-color: rgb(63, 63, 63);
  border-radius: 1em;
  align-items: center;

  .track-content {
    width: 100%;
    margin-left: 1em;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
  }

  .track-details {
    max-width: 60%;
  }

  .action-buttons {
    display: flex;
    align-items: center;
    margin-right: 16px;

    & > button {
      cursor: pointer;
      outline: none;
      background: transparent;
      color: white;
      font-size: 20px;
    }
  }
}

.playlist-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
