.playlists {
  overflow-y: overlay;

  .playlists-container + .playlists-container {
    margin-top: 40px;
  }
}

.followedplaylists,
.yourplaylists {
  margin: 28px 10px;
  display: flex;
  gap: 40px;
}

.playlists-header {
  display: flex;
  justify-content: flex-end;
}

.create-playlist-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}