.playlists {
  overflow-y: overlay;

  .playlists-container + .playlists-container {
    margin-top: 40px;
  }
}

.followedplaylists,
.yourplaylists {
  margin: 28px 10px;
  display: flex;
  gap: 40px;
}

.playlists-header {
  display: flex;
  justify-content: flex-end;
}

<<<<<<< HEAD
.create-playlist-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
=======
.create-playlist-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
>>>>>>> 2f312819e2de71baa37ab7fb5dabf2217df68c61
  background: black;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> 2f312819e2de71baa37ab7fb5dabf2217df68c61
