.bar-container {
  min-width: 400px;
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.bar {
  position: relative;
  width: 100%;
  background-color: #353535;
  border-radius: 10px;
  overflow: hidden;
  height: 15px;
  box-shadow: 2px 2px 5px #202020, inset 5px 5px 8px #202020;

  &__progress {
    height: 100%;
    background-color: orange;
  }

  &__progress__knob {
    position: absolute;
    top: 0;
    width: 5px;
    height: 30px;
    background-color: red;
  }
}
