.control {
  &__button {
    color: #ff8933;
    margin: 0 20px;
    font-size: 22px;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      outline: none;
      color: orange;
    }
  }
}
