
.control {
    &__button {
        color: white;
        margin: 0 20px;
        font-size: 22px;
        background-color: transparent;
        cursor: pointer;

        &:focus {
            outline: none;
            color: orange;
        }
    }
}